* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: hsl(0, 0%, 85%);
  height: 100vh;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: hsl(0, 0%, 20%);
  font-size: 2.5em;
}

.container {
  background-color: #b8b8b8;
  display: grid;
  place-items: center;
  gap: 2rem;
  padding: 2.5rem;
  border-radius: 12px;
}

input, button {
  padding: 1rem;
  outline: none;
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 8px;
}

button {
  background-color: rgb(150, 150, 150);
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: gray;
}

#render-space {
  width: 50%;
}

.results-container {
  width: 100%;
  background-color: #fff;
  display: grid;
  gap: 2rem;
  padding: 1rem;
  border-radius: 8px;
}

.user-info {
  background-color: #cacaca;
  padding: 0.7rem;
  border-radius: 5px;
}

